{%- block cluster %}
{% include "Cluster.yaml" %}
{% include "AzureCluster.yaml" %}
{% include "AzureClusterIdentity.yaml" %}
{%- endblock cluster %}

{%- block controlplane %}
{% set SUFFIX = "control-plane" %}
{% include "KubeadmControlPlane.yaml" %}
{% include "AzureMachineTemplate.yaml" %}
{%- endblock controlplane %}

{%- block nodepool %}
{%- if NODEPOOL_TYPE == "machinepool" %}
{%- set SUFFIX = "mp-0" %}
{% include "MachinePool.yaml" %}
{% include "AzureMachinePool.yaml" %}
{% include "KubeadmConfig.yaml" %}
{%- else %}
{%- if WINDOWS %}
{%- set SUFFIX = "md-win"%}
{%- else %}
{%- set SUFFIX = "md-0" %}
{%- endif %}
{% include "MachineDeployment.yaml" %}
{% include "AzureMachineTemplate.yaml" %}
{% include "KubeadmConfigTemplate.yaml" %}
{%- endif %}
{%- endblock nodepool %}
