[flake8]
max-line-length = 120
ignore =
  # I don't care about long lines
  E501,
  # imported but unused, covered by pylint
  F401,
  # https://github.com/psf/black#line-breaks--binary-operators
  W503,
exclude =
  build
